.smudge-ui {
    position: relative;
    border: 10px solid #222;
    background: #222;
    display: inline-block;
    /* max-width: 1024px; */
}

.smudge-ui canvas {
    display: block;
    max-width: 512px;
    max-height: 512px;
}

.smudge-ui .button-row button {
    background-color: #666;
    color: white;
    border: none;
    padding: 6px 10px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 15px;
    margin-right: 5px;
    outline: none;
}

.smudge-ui .channel-buttons button {
    background-color: transparent;
    margin-bottom: 10px;
}

.smudge-ui .channel-buttons .active {
    background-color: #666;
}

.smudge-ui .export-buttons button {
    /* background-color: transparent; */
    margin-top: 10px;
}

.smudge-ui .label {
    color: white;
    font-size: 11px;
    font-family: system-ui;
    margin-right: 10px;
}

.previews {
    display: inline-flex;
    flex-wrap: wrap;
    width: fit-content;
}

.preview-3d.overlay {
    position: absolute;
    visibility: hidden;
}

.preview-3d.overlay.show {
    visibility: visible;
}

.preview-3d {
    background-image: url('../../../images/checkerboard_gray_gray.png');
    background-size: 16px 16px;
}