.smudge-ui
{
    position: relative;
}

.smudge-ui .smudge-2d,
.smudge-ui .smudge-3d
{
    border: 10px solid #222;
    background: #553;
    display: inline-block;
    margin-bottom: 1em;
    margin-right: 1em;
    vertical-align: top;
}



.smudge-ui canvas
{
    display: block;
    max-width: 512px;
    max-height: 512px;
}

.smudge-ui .button-row
{
    background-color: #222;
    padding: 5px 0;
}

.smudge-ui .button-row button {
    background-color: #666;
    color: white;
    border: none;
    margin-right: 5px;
    padding: 6px 10px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 15px;
}

.smudge-ui .channel-buttons button {
    background-color: transparent;
    outline: none;
    border-radius: 0;
}

.smudge-ui .channel-buttons .active {
    background-color: #666;
    outline: none;
}

.smudge-ui .label {
    color: white;
    font-size: 11px;
    font-family: system-ui;
}

.smudge-ui .preview
{
    display: block;
    background-image: url('../../images/checkerboard_gray_gray.png');
    background-size: 16px 16px;
}